.categories {
    width: 80%;
    height: 100%;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-books {
    width: 100%;
    height: 276px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-books {
    width: 100%;
    height: 240px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.book-item {
    width: 160px;
    height: 240px;
    border-radius: 4px;
    margin-right: 24px;
    display: inline-block;
}

.book-item img {
    width: 100%;
    height: 200px;
}

.book-item span {
    width: 100%;
    height: 40px;
    /* display: block; */
}

@media (max-width:512px) {
    .categories {
        width: calc(100% - 48px);
    }
}